i18n:
  structure: multiple_folders
  locales: [ nl, en ]
  default_locale: nl
backend:
  name: git-gateway
  branch: master
media_folder: src/assets
public_folder: /assets
collections:
  - name: "slideshow"
    label: "Slideshow"
    label_singular: "Slide"
    folder: "content/slideshow"
    create: true
    i18n: true
    fields:
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
  - name: "schedule"
    label: "Schedule"
    label_singular: "Schedule"
    folder: "content/schedule"
    create: true
    i18n: true
    fields:
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Day", name: "day", widget: "select", i18n: false, options: ["maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag", "zondag"]}
      - { label: "From", name: "from", widget: "datetime", i18n: false, date_format: false, time_format: 'HH:mm' }
      - { label: "Until", name: "until", widget: "datetime", i18n: false, date_format: false, time_format: 'HH:mm' }
  - name: "paytoplay"
    label: "Pay to Play"
    label_singular: "Pay to play"
    folder: "content/paytoplay"
    create: true
    i18n: true
    fields:
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Price", name: "price", widget: "string", i18n: false }
  - name: "membership"
    label: "Membership"
    label_singular: "Membership"
    folder: "content/membership"
    create: true
    i18n: true
    fields:
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Weekly sessions", name: "weekly_sessions", widget: "string", i18n: false }
      - { label: "Price per 6 months", name: "price_per_6_months", widget: "string", i18n: false }
      - { label: "Price per year", name: "price_per_year", widget: "string", i18n: false }
  - name: "downloads"
    label: "Downloads"
    label_singular: "Downloads"
    folder: "content/downloads"
    create: true
    i18n: true
    fields:
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "File", name: "file", widget: "file", i18n: true }
      - { label: "Type", name: "type", widget: "select", i18n: true, options: ["agenda", "development_plan"] }
  - name: "home"
    label: "Articles - Home"
    label_singular: "Home article" # Used in the UI, ie: "New Post"
    folder: "content/home"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate", hint: "If you selected 'Centered text' as type, no image is shown." }
      - { label: "Body", name: "body", widget: "text", i18n: true }
  - name: "news"
    label: "Articles - News"
    label_singular: "News article" # Used in the UI, ie: "New Post"
    folder: "content/news"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
      - { label: "Body", name: "body", widget: "text", i18n: true }
  - name: "lets_play"
    label: "Articles - Let's play"
    label_singular: "Let's play article" # Used in the UI, ie: "New Post"
    folder: "content/lets_play"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
      - { label: "Body", name: "body", widget: "text", i18n: true }
  - name: "lets_have_fun"
    label: "Articles - Let's have fun"
    label_singular: "Let's have fun article" # Used in the UI, ie: "New Post"
    folder: "content/lets_have_fun"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
      - { label: "Body", name: "body", widget: "text", i18n: true }
  - name: "help_us_grow"
    label: "Articles - Help us grow"
    label_singular: "Help us grow article" # Used in the UI, ie: "New Post"
    folder: "content/help_us_grow"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
      - { label: "Body", name: "body", widget: "text", i18n: true }
  - name: "schools"
    label: "Articles - Schools"
    label_singular: "Schools article" # Used in the UI, ie: "New Post"
    folder: "content/schools"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
      - { label: "Body", name: "body", widget: "text", i18n: true }
  - name: "about_us"
    label: "Articles - About us"
    label_singular: "About us article" # Used in the UI, ie: "New Post"
    folder: "content/about_us"
    create: true
    i18n: true
    fields:
      - { label: "Type", name: "type", widget: "select", i18n: false, options: ["Image right / Text left", "Image left / Text right", "Centered text (no image)"] }
      - { label: "Sort", name: "sort", widget: "number", value_type: 'int', min: 0, max: 999, default: 999, i18n: false, hint: "Articles will be sorted from low to high number" }
      - { label: "Title", name: "title", widget: "string", i18n: true }
      - { label: "Image", name: "image", widget: "image", required: false, i18n: "duplicate" }
      - { label: "Body", name: "body", widget: "text", i18n: true }
